/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2017, 1:48:00 AM
    Author     : Shihan
*/

.txtcol{font-style: italic;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font: normal 13px/1.4em 'Open Sans', Sans-serif;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}
#project {
  float: left;
  width: 50%;
}

h2 {
    color: #415472;
    font-size: 50px;
    padding: 7px 7px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    width: 25%;
}

h4 {
    color: #415472;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    margin-bottom: 5px;
}

#invoice-title-number {
    margin: 50px 0 20px 0;
    display: inline-block;
    float: left;
    width: 230px;
}

#invoice-title-number #title {
    display: inline-block;
    background: #c6141a;
    color: white;
    font-size: 50px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}

#client-info {
    float: right;
    text-align: right;
    margin-top: 0px;
    min-width: 220px;
}
#client-info span {
  display: block;
  min-width: 20px;
}
#client-info > span {
  text-transform: uppercase;
  color: #858585;
  font-size: 15px;
}
#client-info .client-name {
  font-size: 12px;
  text-transform: uppercase;
  margin: 7px 0;
}

#invoice-info {
  float: left;
  margin-top: 10px;
}

#invoice-info-a {
  float: left;
  margin-top: 10px;
  width: 50%;
}

.m-b-0 {
  margin-bottom:0px;
}

#invoice-info-b {
  float: right;
  margin-top: 0px;
  width: 50%;
  text-align: right;
}

#invoice-info div {
  margin-bottom: 3px;
}
#invoice-info div span {
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
}
.spanfirst{
    display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 25px;
  text-align: right;
  width: 80px;
}
#invoice-info:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  display: block;
  clear: both;
}


#project span {
  color: #000000;
  font-weight: bold;
  width: 2%;
  margin-right: 10px;
  display: inline-block;
}
#project p {
margin: 0px;
font-size: 12px;
    color: #000000;
}



#company {
  float: right;
  text-align: right;
      width: 50%;
}

#company span {
  color: #000000;
  font-weight: bold;
  width: 2%;
  margin-right: 10px;
  display: inline-block;
}

#company p {
margin: 0px;
font-size: 12px;
    color: #463f3e;
}

#project div,
#company div {
  white-space: nowrap;        
}

#items {
  margin-top: 10px;
}

#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 2px;
  background: #312a29;
  color: white;
}

#items table td:first-child {
    text-align: left;
}
#items table td:first-child {
    text-align: left;
}
#items table td {
  padding: 10px 3px;
  border-bottom: 1px solid #ddd;
  font-size: 10px;
}

#items table th {
  padding: 10px 5px;
  color:#ffffff;
  white-space: nowrap;        
  font-weight: normal;
  font-weight: bold;
  text-align: center;
}

#items .leftt {
  text-align: left;
}

#items table td {
  padding: 5px;
}



#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

table {
    table-layout: fixed;
}
#sums {

}
#sums table tr th, #sums table tr td {
  padding: 0px 3px;
}




